{% extends 'news/base.html' %}

{% block content %}
{% for post in post_list %}
<div class="card mb-3">
  <a href="{% url 'news:detail' post.pk %}">
    <div class="card-body">
      <p>
        <img src="{{ post.image.url }}" align="left" alt="写真" width="300" height="200">
        <h3>{{ post.title }}</h3>
      </p>
      <class="card-text">
        <p>{{ post.text | linebreaksbr | truncatechars:20 }}</p>
        <p><font color="#666666">{{ post.created_at }} {{ post.category }}</font></p>
      </p>
    </div>
  </a>
</div>
{% endfor %}

{% include 'news/page.html' %}
{% endblock %}
