{% extends 'news/base.html' %}

{% block content %}
{% for post in post_list %}
<div class="card mb-3">
  <!-- <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap"> -->
  <div class="card-body">
    <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
    <div class="card-body">
      <p>{{ post.created_at }},{{ post.category }}</p>
    <!-- <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p> -->
      <a href="{% url 'news:detail' post.pk %}" class="btn btn-dark">続きを読む</a>
    </div>
  </div>
</div>
{% endfor %}

{% include 'news/page.html' %}
{% endblock %}
